body {
            background-color: #2b2b2b; 
            color: #e7e7e7; 
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

      
        h1, h2 {
            color: #e7e7e7;
            text-align: center;
            font-size: 2.5em;
            margin-top: 20px;
        }

       
        .center-content {
            text-align: center;
            margin: 20px;
        }

      
        .redirigir {
            color: #e7e7e7;
            text-decoration: none;
            font-size: 1.2em;
            padding: 10px 20px;
            border: 2px solid #e7e7e7;
            border-radius: 5px;
            margin-top: 20px;
            display: inline-block;
        }

       
        .redirigir:hover {
            background-color: #e7e7e7;
            color: #2b2b2b;
            text-decoration: none;
        }

       
        img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
            margin-top: 20px;
        }

        
        p {
            font-size: 1.2em;
            line-height: 1.6;
            margin: 15px 0;
        }

       
        a {
            color: #e7e7e7;
            text-decoration: none;
            font-size: 1.2em;
        }

       
        a:hover {
            text-decoration: underline;
        }